@font-face {
    font-family: roboto;
    src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: roboto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(128, 128, 128));
}

#box {
    width: 300px;
    height: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
}

.bottom {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 15px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.bottom>h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.bottom>button {
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
}

.bottom>button:hover {
    color: #000;
    background-color: #fff;
    scale: 1.2;
    transition: all 0.2s;
}
